@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	user-select: none;

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:focus-visible {
    outline: 2px solid var(--violet-6);
    outline-offset: 1px;
  }  
}

.primary {
  @extend .Button;
	background-color: var(--violet-4);
	color: var(--violet-12);
	outline-color: var(--violet-6);

  &:hover {
	background-color: var(--mauve-3);
}
}

.secondary {
  @extend .Button;
	background-color: var(--green-4);
	color: var(--green-11);
	outline-color: var(--green-7);
}
.Button.green:hover {
	background-color: var(--green-5);
}

